<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.png">
        <p>My Self Parshant Yadav, I am a Web Developer and Freelancer.<br>and I create this Weather App by using Node.js <br> 
        and It uses data from mapbox.com and darksky.net! API's</p>
    </div>
    
    {{>footer}}
</body>

</html>